// ############### fonts ###############

$font: 'Montserrat';

//####################
// ############### color ###############
$white:#fff;
$black:#252B42;
$gray:#737373;
$dark-green:#96BB7C;
$light-blue:#EFF8ED;
$light-gray: #BDBDBD;
$orange: #FFAB71;
$blue:#8EC2F2;
$inp-bg:#F9F9F9;
$ft-bg:#FAFAFA;
//####################

// ############### radius ###############

$radius: 5px;
//####################
